<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-success py-4">
      <div class="container">
        <a class="navbar-brand" href="#"> <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/DOYOGA-logo.png?raw=true" alt="yogalogo" width=96></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">瑜珈空間</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">當月課表</a>
            </li>
          </ul>
          <ul class="d-lg-flex">
            <li><button type="button" class="me-3 mb-md-1 btn btn-link btn-outline-secondary">立即預約</button></li>
            <li><button type="button" class="btn btn-link btn-outline-secondary">聯絡我們</button></li>
          </ul>
      </div>
      </div>
    </nav>
   </header>





    <%- contents %>
    <footer class="bg-secondary">
      <div class="container">
        <div class="row">
        <div class="subscribe d-flex flex-column flex-lg-row justify-content-between py-8 border-bottom border-light">
        <h3 class="text-light">現在訂閱，獲得課程優惠碼！</h3>
        <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <button type="button" class=" text-light btn btn-primary">訂閱</button>
        </div>
       </div>
      </div>
      </div>
      </div>
        <div class="container">
        <div class="row py-8">
          <div class="col-md-4">
        <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/DOYOGA.png?raw=true" alt="whiteyogalogo" width=96>
        <ul>
          <li class="mt-2"><a class="text-light" href="#">課程介紹</a></li>
          <li class="mt-2"><a class="text-light"  href="#">瑜珈空間</a></li>
          <li class="mt-2"><a class="text-light"  href="#">當月課表</a></li>
        </ul>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-end text-light">
          <p>© 2021. All Rights Reserved.</p>
        </div>
        
        <div class="col-md-4 d-flex justify-content-end">
          <a class="me-3" href="#"><i class="fab fa-facebook fs-4 text-white"></i></a>
          <a class="me-3" href="#"><i class="fab fa-instagram fs-4 text-white"></i></a>
          <a href="#"><i class="fab fa-line fs-4 text-white"></i></a>
        </div>
        </div>
        
      </div>
      </div>

      </div>
    </footer>
    



    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>